<app-navbar> </app-navbar>
<div class="container">
  <h5 class="text-center" style="color:white">STUDENT DETAILS</h5>
  <div class="d-flex justify-content-center align-items-center height: 100vh mt-5">
  <div class="card" style="width: 28rem;">

    <div class="card-body">
      <p>Student First Name : {{student?.firstName}}</p>
      <p>Student Last Name : {{student?.lastName}}</p>
      <p>Student Email {{student?.email}}</p>
      <p>Student Password {{student?.password}}</p>
      <p>Student Address {{student?.address}}</p>
      <p>Student Phone Number {{student?.phoneNumber}}</p>
      
    </div>
  </div>
  </div>
  </div>