.container{
<<<<<<< HEAD
    background-color: #234E70;
=======
    background-color:  #234E70;
>>>>>>> 9a658837913efdc4c946b4c505443577936b735b
    padding:50px;
    margin-top:15px;
}
h5{
<<<<<<< HEAD
   
=======
    color:white;
>>>>>>> 9a658837913efdc4c946b4c505443577936b735b
    text-align: center;
}