
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  .Reset-form-container {
    position: relative;
    width: 450px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add box shadow */
    transition: box-shadow 0.5s ease;
    padding: 30px;
    box-sizing: border-box;
    border: 1px solid #d1d1d1; 
    margin: 0 auto; 
    margin-left:50px;
    left:350px;
  }
  
  
  .Reset-form-container:hover {
    border: 2px solid #e7e7e7; /* Add border hover effect */
  }
  
  .Reset-form-container label{
    color:rgb(160, 160, 160);
    font-size:15px;
    font-style: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .Reset-form-container h5 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .Reset-form-container .form-group {
    position: relative;
    margin-bottom: 15px;
  }
  
  .Reset-form-container .form-control {
    width: 90%;
    padding: 10px;
    border: 2px solid #000000;
    background-color: #ffffff;
    font-size: 14px;
    margin-bottom: 10px;
    border-radius: 1px;
  }
  .Reset-form-container .btn-primary {
    display: block;
    width: fit-content;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    background-color: #2600ff;
    color: #fff;
    border: none;
    border-radius:0px;
    cursor: pointer;
    margin-top: 18px;
    font-size: 16px;
    font-style: bold;
    /* border: 2px solid #1a1a1b;  */
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  
  
  
  .password-toggle {
    position: absolute;
    top: 50%;
    right: 25px;
    cursor: pointer;
    font-size: 20px;
    color: #050505;
    transform: translateY(10%);
    
  }
  
  
  .validation-messages {
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-size: 11px;
    padding: 3px;
    color: red;
  }
  .Reset-form-container h6 {
    text-align: center;
    font-style: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  @media only screen and (max-width: 600px) {
    /* Adjust styles for smaller screens */
    .Reset-form-container {
      width: 90%;
      margin: 50px auto;
    }
  
    .Reset-form-container .form-control {
      font-size: 12px;
    }
  
    .Reset-form-container .btn-primary {
      font-size: 12px;
    }
   
  }
  