<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<div class="container">
    <div class="row">
      <div class="col-md-6">
          <body>
          <div class="Reset-form-container" >
            <h5 >RESET PASSWORD</h5>
            <form [formGroup]="passwordForm" (ngSubmit)="onResetPasswordSubmit()">
                <div class="form-group">
                  <br>
                  <label for="email">Email</label>
                  <div class="input-group">
                    <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter your email">
                  </div>
                  <div class="validation-messages" style="bottom:-15px">
                    <div *ngIf="formsubmitted && passwordFormControls['email'].errors && passwordFormControls['email'].touched" class="validation-msg"></div>
                    <div *ngIf="formsubmitted && passwordFormControls['email'].errors && passwordFormControls['email'].touched" class="validation-msg">Email is required</div>
                    <div *ngIf="formsubmitted && passwordFormControls['email'].hasError('email')">Invalid email format</div>
                  </div>
                </div>       
              <div class="form-group">
                <br>
                <label for="newPassword">New Password</label>
                <div class="input-group">
                  <input type="{{ showPasswordIcons.has('newPassword') ? 'password' : 'text' }}" class="form-control" id="newPassword" formControlName="newPassword" placeholder="Enter new Password">
                  <mat-icon class="password-toggle" (click)="togglePasswordVisibility('newPassword')">        
                    {{ showPasswordIcons.has('newPassword') ? 'visibility_off' : 'visibility' }}
                  </mat-icon>
                </div>
                <div class="validation-messages" style="bottom:-28px"  >
                <div *ngIf="formsubmitted && passwordFormControls['newPassword'].errors && passwordFormControls['newPassword'].touched" class="validation-msg"></div>
                <div *ngIf="formsubmitted && passwordFormControls['newPassword'].hasError('required')">New Password is required</div>
                <div *ngIf="formsubmitted && passwordFormControls['newPassword'].hasError('minlength')">New Password should be at least 8 characters long</div>
                <div *ngIf="passwordFormControls['newPassword'].hasError('passwordRequirements') && passwordFormControls['newPassword'].touched">
                  <div *ngIf="passwordFormControls['newPassword'].value">
                    New Password should contain at least one capital letter and one symbol*
                  </div>
              </div>
              </div>
              </div>
                <div class="form-group">
                  <br>
                 <label for="confirmPassword">Confirm Password</label>
                  <div class="input-group">
                    <input type="{{ showPasswordIcons.has('confirmPassword') ? 'password' : 'text' }}" class="form-control" id="confirmPassword" formControlName="confirmPassword" placeholder="Enter confirm Password">
                    <mat-icon class="password-toggle" (click)="togglePasswordVisibility('confirmPassword')">
                      {{ showPasswordIcons.has('confirmPassword') ? 'visibility_off' : 'visibility' }}
                    </mat-icon>
                  </div>
                  <div class="validation-messages" style="bottom:-15px">
                  <div *ngIf="formsubmitted && passwordFormControls['confirmPassword'].errors?.['required']">Confirm Password is required</div>
                  <div *ngIf="passwordFormControls['confirmPassword'].value && passwordFormControls['confirmPassword'].value !== passwordFormControls['newPassword'].value">
                    Passwords do not match
                  </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary active" style="width:80%;">RESET</button>
                <br>
                <div style="display: flex; justify-content: center; align-items: center; ">
                  <a routerLink="/login" >Back to Login</a>
                </div>
            </form>
       <div *ngIf="passwordUpdateMessage" class="password-update-message" style="text-align: center;">{{ passwordUpdateMessage }}</div>


   

