<app-navbar></app-navbar>
<div class="container"><h1 class="text-center">List of students</h1>
    <br>
    <a routerLink="/add-student" class="btn btn-primary" style="background-color:white; color:black;">Add Student</a>
    <input class="form-control float-right" type="search" placeholder="Search" aria-label="Search" style="width:30%;"
    [(ngModel)]="searchText" [ngModelOptions]="{ standalone: true }" (input)="onSearch()">
<br>
<br>
     <table class="table table-striped">
    <thead>
        <tr>
            <th> ID</th>
            <th> First Name </th>
            <th> Last Name </th>
            <th> Email </th>
            <th> Password </th>
            <th> Address </th>
            <th>Phone Number</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students">
            <td> {{ student.id }} </td>
            <td> {{ student.firstName }} </td>
            <td> {{ student.lastName }} </td>
            <td> {{ student.email }} </td>
            <td>{{ student.password }}</td>
            <td>{{ student.address }}</td>
            <td>{{ student.phoneNumber }}</td>
            <td>
                <button (click)="updateStudent(student.id)" class="btn btn-info"> Update</button>
                <button (click)="deleteStudent(student.id)" class="btn btn-danger" style="margin-left: 10px">
                    Delete</button>
                <button (click)="studentDetails(student.id)" class="btn btn-info" style="margin-left: 10px">
                    View</button>
            </td>
        </tr>
    </tbody>
</table>
</div>